.task-query-dialog {
  .item-content {
    padding-left: 0;
    margin-top: 15px;

    .item-inner {
      padding: 0;
    }
  }

  .condition {
    min-width: 64px;
    margin-top: 8px;
    margin-right: 8px;
  }
}
