.folder-list-item {
  border-radius: var(--f7-card-border-radius);
  overflow: hidden;

  .item-title {
    height: 48px;
    white-space: normal;
  }

  ul {
    background: transparent;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    .item-title-row {
      display: none;
    }
  }
}
