@mixin hidden-scrollbars {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #121212;
}

:root {
  .dark {
    --f7-menu-list-selected-bg-color: var(--f7-page-bg-color);
  }

  --f7-menu-list-selected-text-color: var(--f7-color-pink);
  --f7-dialog-button-text-color: var(--f7-color-pink);
  --f7-popover-width: 170px;
}

.page-content {
  border-radius: var(--f7-card-border-radius);
  @include hidden-scrollbars;
}

.main-page {
  display: flex;
  flex-flow: column;
  padding: var(--f7-typography-padding);
}

.device-desktop {
  .main-page {
    padding-left: calc(var(--f7-typography-padding) / 2);
  }
}

.panel {
  background-color: var(--f7-page-bg-color);
}

.scrollable-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  @include hidden-scrollbars;
}

.v-scrollbar {
  z-index: 1;
}

.hljs {
  @include hidden-scrollbars;
}

.flex-flow-column {
  flex-flow: column !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-size-12px {
  font-size: 12px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.font-size-24px {
  font-size: 24px !important;
}

.word-break-break-all {
  word-break: break-all !important;
}

.flex-flow-wrap {
  flex-flow: wrap !important;
}

.z-index-5001 {
  z-index: 5001 !important;
}

.border-radius-card {
  border-radius: var(--f7-card-border-radius) !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.calendar-popover, .sheet-modal {
  z-index: 13501;
}
