.folder-list-item {
  border-radius: var(--f7-card-border-radius);
  overflow: hidden;

  ul {
    background: transparent;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    .item-title-row {
      display: none;
    }
  }
}
